@tailwind base;
@tailwind components;
@tailwind utilities;

textarea,
pre {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  resize: vertical;
}

::selection {
  background: #f4a8a8; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #f4a8a8; /* Gecko Browsers */
}

._1EEDX {
  outline-color: #4b4b4b;
}
